@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,600';

body {
	font-family: 'Source Sans Pro', Tahoma, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

.btn {
	cursor: pointer;
	position: relative;
	padding: 5px 15px;
	text-decoration: none;
	text-shadow: 0 -1px 1px #777;
	color: #fff;
	outline: none;
	border-radius: 5px;
	border: 2px solid #6D6D6D;
	box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #1C1C1C;
	background: linear-gradient(#A8A8A8, #787878 48%, #404040 52%, #565656);
}

.btn.red {
	border: 2px solid #F64C2B;
	box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
	background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}

.btn.yellow {
	border: 2px solid #F6CD2B;
	box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #886D00;
	background: linear-gradient(#FBE075, #F4CE38 48%, #EABC02 52%, #F0C517);
}

.btn.green {
	border: 2px solid #2BF62B;
	box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #008800;
	background: linear-gradient(#75FB75, #38F438 48%, #02EA02 52%, #17F017);
}

.btn:active {
	top: .1em;
	left: .1em;
	box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

.error {
	color: red;
}

hr {
	border: none;
	height: 1px;
	color: #e6e6e6;
	background: #e6e6e6;
	margin: 40px 0;
}

h3 {
	font-size: 25px;
	font-weight: normal;
	text-transform: uppercase;
}

table * {
	vertical-align: top;
	text-align: left;
}

table hr {
	margin: 10px 0;
}

header, section, footer {
	width: 1000px;
	margin: 0 auto;
}

header {
	margin-top: 46px;
}

header .logo, header .menu {
	display: inline-block;
	vertical-align: top;
}

header .logo {
	background: #000;
	padding: 16px 65px;
	float: left;
}

header .logo a {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

header .menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: right;
}

header .menu li {
	display: inline-block;
	vertical-align: top;
	padding: 14px 25px 18px;
}

header .menu li:first-child {
	padding-left: 0;
}

header .menu li:last-child {
	padding-right: 0;
}

header .menu a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
}

section .labels {
	text-align: center;
}

section .labels h3 {
	color: #000;
}

section .labels p {
	color: #7c7c7c;
	font-weight: normal;
	font-size: 24px;
}

section .list .item {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	position: relative;
}

section .list .item:nth-child(3n+2) {
	margin: 0 46px;
}

section .list .item img, section .list .item .cart {
	width: 300px;
	height: 300px;
}

section .list .item img {
	border-left: 1px solid #f0f0ef;
	border-right: 1px solid #f0f0ef;
}

section .list .item .cart {
	background: rgba(255, 255, 255, 0.8);
	position: absolute;
	top: 0;
	left: 1px;
	opacity: 0;
	transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    text-align: center;
}

section .list .item .cart:hover {
	opacity: 1;
}

section .list .item .cart .btn {
	margin: 134px 0;
}

section .list .item .cart p {
	font-weight: bold;
	margin: 141px 0;
}

section .list .item .cart p, section .list .item .cart.added .btn {
	display: none;
}

section .list .item .cart.added p, section .list .item .cart .btn {
	display: inline-block;
}

section .list .item h1 {
	font-family: Georgia;
	font-size: 24px;
	color: #282723;
	text-align: center;
}

section .list .item h1.cost {
	color: #737373;
}

footer {
	margin-bottom: 36px;
}

footer .block {
	display: inline-block;
	vertical-align: top;
	margin: 0 38px;
}

footer .block:first-of-type {
	margin-left: 0;
}

footer .block:last-of-type {
	margin-right: 0;
}

footer .block h3 {
	font-size: 22px;
	color: #000;
	font-weight: bolder;
	text-transform: none;
}

footer .block ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

footer .block ul li {
	padding: 13px 0;
}

footer .block ul li a {
	color: #b7b7b7;
	text-decoration: none;
	font-size: 18px;
}

footer p {
	font-size: 18px;
	color: #b7b7b7;
	text-align: center;
}

#total_cost_label, #order {
	display: none;
}